/* Navbar style */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.navbar-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.navbar-links a {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 12px;
  font-size: 16px;
  transition: 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.primary-link {
  background-color: blue;
  color: white;
  border: none;
}

.secondary-link {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.navbar-links a:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.logout-button {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left: auto;
}

.logout-button:hover {
  background-color: darkred;
  transform: scale(1.05);
}
